<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <script src="https://www.google.com/recaptcha/api.js?render=6Lc3q-wsAAAAAF1MOum6Ue_gHP5Fd4OiTb1NDf0N"></script>
</head>
<body>

<h1>로그인 테스트</h1>

<form id="loginForm">

    <input type="text" id="email" placeholder="email">
    <input type="password" id="password" placeholder="password">

    <button type="submit">
        로그인
    </button>

</form>

<script>

    document.getElementById("loginForm")
        .addEventListener("submit", async function(e) {

            console.log("submit");

            e.preventDefault();

            const token = await grecaptcha.execute(
                '6Lc3q-wsAAAAAF1MOum6Ue_gHP5Fd4OiTb1NDf0N',
                {action: 'login'}
            );

            console.log("프론트 token =", token);

            const response = await fetch("/auth/login", {

                method: "POST",

                headers: {
                    "Content-Type": "application/json"
                },

                body: JSON.stringify({
                    userEmail: document.getElementById("email").value,
                    userPassword: document.getElementById("password").value,
                    recaptcha: token
                })
            });

            console.log(await response.text());
        });

</script>

</body>
</html>